*.env
**/*.swp
**/*.swo
.coverage
.coveragerc
coverage.xml
dist
src
layers
venv
vcon.egg-info
python_vcon.egg-info
**/.mypy_cache
**/__pycache__
server/static/*.wav
server/static/*.mp3
server/static/*.ogg
.DS_Store
server/.DS_Store
**/dump.rdb
**/*.ipynb



.vscode
server/.vscode
dump.rdb
.data
tmp
