
aiosmtplib
cryptography
fastapi[all]
fastapi-utils
nest-asyncio
packaging
pkg_resources
pkgutil-resolve-name
psutil
pydantic
pyjq
pythonjsonlogger
python-vcon >= 0.5.0
redis
setuptools
smtpdfix
uvicorn
