
aiosmtplib
fastapi[all]
fastapi-utils
nest-asyncio
packaging
pkgutil-resolve-name
psutil
pydantic
python-vcon >= 0.6.9
redis
setuptools
smtpdfix
uvicorn
# Optional stuff
prometheus_client
prometheus_fastapi_instrumentator

