
aiosmtplib
fastapi[all]
fastapi-utils
nest-asyncio
packaging
pkgutil-resolve-name
psutil
pydantic
python-vcon >= 0.6.10
redis
setuptools
smtpdfix
uvicorn < 0.50
# Optional stuff
prometheus_client
prometheus_fastapi_instrumentator<6.0.0; python_version < "3.9"
prometheus_fastapi_instrumentator; python_version >= "3.9"

